In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("test.csv")

In [6]:
df.head()

  Question Answer
0       Q1      A
1       Q2      A
2       Q3      A
3       Q4      A

In [22]:
df.to_dict()

{'question': {0: 'Q1', 1: 'Q2', 2: 'Q3', 3: 'Q4'},
 'answer': {0: 'A', 1: 'A', 2: 'A', 3: 'A'}}

In [25]:
df["question"].to_list()

['Q1', 'Q2', 'Q3', 'Q4']